@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.entire-services-page {
  background-color: $white;
}

.services-title {
  font-size: 100px;
  font-family: "SourceSans";
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: $main-blue;
  width: 100%;
}
.services-sub-title {
  display: flex;
  justify-content: center;
}
.services-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  color: white;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 50px;
  margin-left: 50px;
}
.services-container::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  margin: 50px;
  padding: 5px;
  display: flex;
}

li {
  margin: 15px;
  height: 70%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  transition: all 0.8s linear;
  border-radius: 30px;

  &:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px -blue;
  }
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.card-front {
  img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: $dark-blue;
  border-radius: 10px;
}

.arrow {
  width: 40%;
  margin-left: 80px;
  margin-top: -80px;
  margin-bottom: -350px;
}
