@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;

  &__cont {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  &__sec {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;

      &:last-of-type {
          flex-direction: column;
          z-index: -1;
      }
  }

  .hero--text {
      font-size: 20px;
      width: 30%;
      padding: 16px 0px;
  }

  &__boat--img {
      width: 800px;
  }

  &__bg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%; 
      contain: content;


      &--img1 {
          align-self: flex-end;
        
      }

      &--img2 {
          align-self: flex-start;
          width: 600px;
          margin-top: 500px;
          margin-left: -145px;
      }

  }
}