@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
 
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $white;
  z-index: -1;

  &__content {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  &__section {
     
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;

      &:last-of-type {
          flex-direction: column;
         
      }
  }

  .hero-text {
      font-size: 20px;
      padding: 16px 0px;
      margin-bottom: 120px;
      margin-left: 250px;
      @include tablet-portrait { padding:0;
        margin-bottom: 120px;
        margin-left: 160px;}
        @include mobile {margin-left: 0;
          padding-right: 80px;
          padding-left: 10px;
        }
  }

  &__boat--img {
      width: 100%;
      @include tablet-portrait{display: none;}
      
  }

  &__background {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%; 
      contain: content;

      &--img1 {
          align-self: flex-start;
          width: 48rem;
          margin-top: 200px;
          margin-left: -50px;
          @include tablet-portrait{
            width: 40rem;
           }
           @include mobile {width: 20rem;}
      }
      &--img2 {
        display: none;
        @include tablet-portrait{display: block;
          align-self: flex-end;
          width: 30rem;
          margin-bottom: -400px;}
          @include mobile {width: 20rem;}
      }

  }
}