@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'SourceSans';
  
    h1 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    .smaller-text {
      font-size: 17px;
      color: $white;
      margin-bottom: 20px;
    }
  
    form {
      width: 100%;
  
      input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $light-green;
        border-radius: 4px;
  
        &:focus {
          border:3px solid $light-green;
          outline: none;
        }
      }
  
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        background-color: $light-green;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #2ab7756a ;
        }
      }
    }
  
    .thank-you-note {
      font-size: 20px;
      text-align: center;
      color: $white;
    }
  }

  .form-header {color: $light-green;}