@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.weather-box {
  color: $white;
  border-radius: .5rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  @include desktop-small {
    flex-direction: column;
  }
}

.forecast {
  margin-bottom: 1.25rem;
  border-radius: 1.25rem;
  border: .1875rem solid $white;
  padding: .625rem;
  width: 15vw;
  @include desktop-small {
    width: 30vw;
  }
  @include mobile {
    width: 50%;
  }
}

.forecast > div {
  margin-bottom: .3125rem;
}

table {
  margin-top: 1.25rem;
  width: 100%;
  border-collapse: collapse;

  td {
    padding: .5rem;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
.date {
  font-size: 1.875rem;
  font-weight: 500;
}
