@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;


.weather-box {
   
    color: $white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   

  }
  
  .location-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forecast {
    margin-bottom: 20px;
  }
  
  .forecast > div {
    margin-bottom: 5px;
  }
  
  .sun-pic {
    width: 80px;
    height: 80px;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  
    td {
      padding: 8px;
      text-align: center;
  
      &:first-child {
        text-align: left;
      }
  
      &:last-child {
        text-align: right;
      }
    }
  }
  .date {font-size: 30px;
    font-weight: 500;}