@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.cartoon {
  max-width: 100%;
  margin-top: -190px;
}
.bubble {
  max-width: 70%;
  margin-top: -90px;
  
}
.bubble-text-english {overflow: hidden;
  color: $dark-blue;
  position: relative;
  bottom: 310px;
  margin: 10px;
  font-size: 46px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: -20px;

}
  
  
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $dark-blue;
  color: $white;
  background-image: url("../../assets/images/rightTree.svg");
  background-size: contain;
  background-repeat: no-repeat;

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .speech-bubble {
      position: relative;
      width: 200px;
      height: 100px;
      background-color: #ccc;
      border-radius: 10px;
      margin-top: 20px;
      overflow: hidden;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 30px;
        height: 30px;
        background-color: #ccc;
      }

      &.show-text {
        transform: translateX(0);
      }

      p {
        margin: 10px;
        font-size: 14px;
      }
    }
  }

  .info-container {
    
    padding-right: 80px;
    max-width: 700px;
   font-weight: 500;

    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
}
