@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;


.contact-page {
  background-color: $dark-blue;
  color: $white;
  background-image: url("../../assets/images/leftTree.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "SourceSans";
  @include desktop-small {
    background-repeat: repeat;
  }
}

.contact-section-header {display: flex;}
.contact-section-text {
  font-size: 1.25rem;
  padding: 3.125rem;
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: -30px;
  @include mobile {
    padding: 1.25rem;
  }
}
.contact-section {
  font-family: "SourceSans";
  display: flex;
  justify-content: space-evenly;
  @include mobile-large {
    flex-direction: column;
  }
}

.contact-section-title {
  display: flex;
  justify-content: center;
  color: $white;
  font-size: 3.75rem;
  font-weight: 500;
  padding: 1.875rem;
  padding-bottom: 0;
  font-family: "SourceSans";
  @include mobile {font-size: 3.5rem;
  padding-bottom: 0;}
}
.weather-title {
  font-size: 2.5rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}

.location-title {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

// SOCIAL MEDIA ICONS

.wrapper {
  display: inline-flex;
  list-style: none;
  align-items: center;
  padding-top: 50px;
}

.wrapper .icon-instagram {
  position: relative;
  border-radius: 40%;
  margin: 0.625rem;
  width: 7.5rem;
  height: 7.5rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  
  @include desktop-small {
    width: 5rem;
    height: 5rem;
  }
  @include mobile {
    width: 4rem;
    height: 4rem;
    margin-left: 3px;
  }
}

.wrapper .icon-instagram:hover {
  visibility: visible;
  pointer-events: auto;
  transform: scale(1.1);
}
.insta-title {
  font-size: 40px;
  white-space: nowrap;
  @include mobile {font-size:25px}
}
.icon-phone {
  width: 9.375rem;
  height: 9.375rem;
  margin-left: -50px;
  margin-right: -50px;
}
.phone-number-area {
  display: flex;
  align-items: center;
  margin-top: -20px;
  @include mobile {font-size:30px}
}
.phone-number {
  text-decoration: none;
  font-size: 40px;
  @include mobile {font-size:30px}
}
.icon-car {
  width: 9.375rem;
  height: 9.375rem;
  margin-left: -50px;
  margin-right: -40px;
}
.address-area {
  display: flex;
  align-items: center;
  margin-top: -40px;
   @include mobile {font-size:30px}
}
.address-text {font-size: 40px;
  @include mobile {font-size:30px}}