@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.phone-number {
  text-decoration: none;
}
.contact-page {
  background-color: $dark-blue;
  color: $white;
  background-image: url("../../assets/images/leftTree.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'SourceSans';
  @include mobile {background-repeat: repeat;}

}
.contact-section-text {
  font-size: 20px;
  padding: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.6;
  @include mobile {padding:20px}
}
.contact-section {
  font-family: "SourceSans";
  display:flex;
  justify-content:space-evenly;
  @include mobile {flex-direction:column ;}
}

.contact-section-title {
  display: flex;
  justify-content: center;
  color: $white;
  font-size: 60px;
  font-weight: 400;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  padding-right: 30px;
  // padding-top: 20px;
}

.wrapper .icon-facebook {
  position: relative;
  background: $white;
  border-radius: 50%;
  margin: 15px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-image: url(../../assets/icons/icons8-facebook-50.png);
  background-repeat: no-repeat;
  background-size: cover;
   @include mobile {width: 20px;
    height: 20px;
    margin: 0;}
}
.wrapper .icon-instagram {
  position: relative;
  background: $white;
  border-radius: 40%;
  margin: 15px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-image: url(../../assets/icons/icons8-instagram-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile {width: 20px;
    height: 20px;
  margin: 0;}
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon-instagram:hover .tooltip {
  top: -15px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon-facebook:hover .tooltip {
  top: -15px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon-facebook:hover span,
.wrapper .icon-facebook:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .icon-instagram:hover span,
.wrapper .icon-instagram:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.065);
}
.wrapper .icon-facebook:hover,
.wrapper .icon-facebook:hover .tooltip,
.wrapper .icon-facebook:hover .tooltip::before {
  color: $dark-blue;
  background: $white;
  font-size: 18px;
}

.wrapper .icon-instagram:hover,
.wrapper .icon-instagram:hover .tooltip,
.wrapper .icon-instagram:hover .tooltip::before {
  color: $dark-blue;
  background: $white;
  font-size: 18px;
}
.weather-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.location-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}