@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  color: $white;
  padding: .25rem 1.25rem .25rem 1.25rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  @include tablet-portrait {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  }
}

.nav-title {
  font-size: 80px;
  @include tablet-landscape {font-size: 40px;}
  @include mobile-large {font-size: 25px;}
  @include mobile {font-size: 20px;}
}
.nav-right {
  display: flex;
  align-items: center;
  z-index: 10;
}

// BUTTON AREA
.nav-contact-button {
  text-decoration: none;
  color: $white;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin-right: 1.875rem;
  background-color: $light-green;
  white-space: nowrap;
  @include desktop-small {margin-right: 0;}
  @include mobile {
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 500;
  }

  &:hover {
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    border-top: 2px solid $white;
    border-bottom: 5px solid $white;
  }
}

// SOCIAL MEDIA ICONS

.wrapper-nav {
  display: inline-flex;
  list-style: none;
}

.wrapper-nav .icon-instagram-nav {
  position: relative;
  border-radius: 40%;
  margin: 10px;
  width: 120px;
  height: 120px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  @include tablet-portrait {width: 100px;
  height: 100px;}
  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.wrapper-nav .icon-instagram-nav:hover  {
  visibility: visible;
  pointer-events: auto;
  transform: scale(1.1);
  
}

