@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  color: $white;
  // height: 5rem;
  padding: 2.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  @include tablet-portrait {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  }
}

.nav-title {
  font-size: 80px;
  @include tablet-landscape {font-size: 40px;}
}
.nav-right {
  display: flex;
  align-items: center;
  z-index: 10;
}

// BUTTON AREA
.nav-contact-button {
  text-decoration: none;
  color: $white;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin-right: 1.875rem;
  background-color: $light-green;
  @include mobile {
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 500;
  }

  &:hover {
    background-color: #2ab7756a;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    border-top: 2px solid $white;
    border-bottom: 5px solid $white;
  }
}

// SOCIAL MEDIA ICONS

.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper .icon-facebook {
  position: relative;
  background: $white;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-image: url(../../assets/icons/icons8-facebook-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}
.wrapper .icon-instagram {
  position: relative;
  background: $white;
  border-radius: 40%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-image: url(../../assets/icons/icons8-instagram-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: $white;
  color: $white;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: $white;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon-instagram:hover .tooltip {
  top: -15px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon-facebook:hover .tooltip {
  top: -15px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon-facebook:hover span,
.wrapper .icon-facebook:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .icon-instagram:hover span,
.wrapper .icon-instagram:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.065);
}
.wrapper .icon-facebook:hover,
.wrapper .icon-facebook:hover .tooltip,
.wrapper .icon-facebook:hover .tooltip::before {
  background: $white;
  color: #ffffff;
}

.wrapper .icon-instagram:hover,
.wrapper .icon-instagram:hover .tooltip,
.wrapper .icon-instagram:hover .tooltip::before {
  background: $white;
  color: #ffffff;
}
